apiVersion: apps/v1
kind: Deployment

metadata:
  name: postgres-db
  labels:
    app: postgres

spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
          name: postgres
        env:
          - name: POSTGRES_DB
            value: "bicho"
          - name: POSTGRES_USER
            value: "bicho"
          - name: POSTGRES_PASSWORD
            value: "bicho-pwd"
