apiVersion: v1
kind: Service

metadata:
  name: postgres-service

spec:
  type: ClusterIP
  selector:
    # Routes traffic to pods with label app: postgres.
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432


