name: "PR Build image"

on:
  pull_request:

jobs:
  build:
    name: "Build image"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: "Build Docker image"
        run: docker build .
