name: "PR Build image"

on: "push"

jobs:
  build:
    name: "Build image"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: "Run build"
        run: make build
