name: "PR Lint"
on:
  pull_request:

jobs:
  lint:
    name: "PR Lint"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: dominikh/staticcheck-action@v1.4.0
        with:
          version: "latest"
